section {
  max-height: 300px;
  min-height: 80px; }

div {
  width: 100px;
  height: 100px; }

::selection {
  background: red; }

.class2_1, .class2_2, .class2_3, .class5_1, .class5_2, .class5_3, .class5_4, .class5_5, .class5_6, .class6_1, .class6_2, .class8_1, .class8_2, .class8_3, .class8_4,
.class9_1, .class9_2, .class9_3, .class10_1, .class10_2, .class11_1, .class11_2, .class12_1, .class12_2, .class21_1, .class21_3, .class21_2 {
  display: inline-block;
  margin: 10px; }

.mouse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  width: 100px;
  height: 100px; }

.class1 {
  position: absolute;
  cursor: pointer;
  background: red;
  height: 30px; }
  .class1:after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px; }

.class2_1 {
  background: #000;
  box-shadow: 0 10px #888, 10px 0px #786, -10px 0px #346, 0px -10px #821; }

.class2_2 {
  background: #000;
  box-shadow: inset 0 0 0 5px #888, 0 0 0 5px #786, 0 0 0 5px #346, 0 0 0 5px #821; }

.class2_3 {
  background: #000;
  outline: 10px solid #821;
  outline-offset: -10px; }

.class3 {
  background: url("../img/1.jpg") no-repeat top center red;
  background-position: 10px 20px;
  background-size: 20% 20%; }

.class4 {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background: red;
  z-index: 1; }
  .class4:after {
    content: '';
    background: orange;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
    border-radius: 10px; }

.class5_1 {
  background: linear-gradient(red 50%, orange 50%);
  background-size: 100% 20%; }

.class5_2 {
  background: linear-gradient(134deg, red 50%, orange 50%);
  background-size: 100% 20%; }

.class5_3 {
  background: linear-gradient(to right, red 50%, orange 50%);
  background-size: 20% 100%; }

.class5_4 {
  background: linear-gradient(134deg, red 50%, orange 50%);
  background-size: 20% 100%; }

.class5_5 {
  background: linear-gradient(134deg, red 50%, orange 50%);
  background-size: 100% 20%; }

.class5_6 {
  background: linear-gradient(134deg, red 50%, orange 50%);
  background-size: 20% 20%; }

.class6_1 {
  background-image: linear-gradient(45deg, #897 30%, transparent 0), linear-gradient(45deg, transparent 75%, #897 0), linear-gradient(45deg, #897 25%, transparent 0), linear-gradient(45deg, transparent 75%, #897 0);
  background-size: 30% 30%; }

.class6_2 {
  background-image: linear-gradient(45deg, #297 30%, transparent 0), linear-gradient(to right, #297 30%, transparent 0), linear-gradient(75deg, #297 30%, transparent 0);
  background-size: 30% 30%; }

@keyframes col {
  20% {
    background: orange; }
  60% {
    background: #897; } }
@keyframes rad {
  50% {
    border-radius: 50%; } }
@keyframes zhuan {
  100% {
    transform: rotate(360deg); } }
.class7 {
  border: 10px solid red;
  background: #565;
  transform: .5s all;
  animation: col 2s infinite,rad 1s infinite,zhuan 1s infinite; }

.class8_1 {
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, orange 0, orange 37.5%, transparent 0, transparent 50%) 0/5em 5em;
  border: 1em solid transparent; }

.class8_2 {
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, orange 0, orange 37.5%, transparent 0, transparent 50%) 0/5em 5em;
  border: 1em solid transparent;
  animation: 2s zhan1 infinite; }

.class8_3 {
  border: 1em solid transparent;
  animation: 2s zhan1 infinite;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0/0.6em 0.6em; }

.class8_4 {
  border: 1px solid transparent;
  animation: 2s zhan1 infinite;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0/0.6em 0.6em; }

@keyframes zhan1 {
  100% {
    background-position: 100%; } }
.class9_1 {
  background: red;
  border-radius: 50px; }

.class9_2 {
  background: red;
  border-radius: 50%/100% 100% 0 0; }

.class9_3 {
  background: red;
  border-radius: 50%/100% 100% 0 50%; }

.class10_1 {
  transform: skew(45deg);
  background: red; }

.class10_1 > div {
  transform: skew(-45deg); }

.class10_2 {
  position: relative; }

.class10_2:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background: orange;
  transform: skew(45deg); }

.class11_1 {
  background: red;
  transform: rotate(45deg); }

.class11_1 > div {
  transform: rotate(-45deg); }

.class11_2 {
  background: orange;
  transform: rotate(45deg); }

.class11_2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 1s clip-path; }

.class11_2:hover {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }

.class12_1 {
  background: linear-gradient(45deg, transparent 20px, red 0); }

.class12_2 {
  background: radial-gradient(circle at top left, transparent 15px, red 0) top left, radial-gradient(circle at top right, transparent 15px, red 0) top right, radial-gradient(circle at bottom right, transparent 15px, red 0) bottom right, radial-gradient(circle at bottom left, transparent 15px, red 0) bottom left;
  background-repeat: no-repeat;
  background-size: 50% 50%; }

.class15 {
  background: orange;
  box-shadow: 0 5px 4px -4px black; }

.class17 {
  transition: 1.5s filter;
  filter: sepia(1) saturate(1) hue-rotate(295deg);
  background: red; }

.class17:hover {
  filter: none; }

.class18 {
  background: url(../img/1.jpg) no-repeat top center;
  background-size: 100%;
  filter: blur(2px); }

.class19 {
  background: blue;
  background: linear-gradient(to left bottom, transparent 50%, orange 0) no-repeat 100% 0/21px 21px, linear-gradient(-135deg, transparent 15px, red 0); }

.class20 {
  width: 300px;
  hyphens: auto; }

.class21_1 {
  color: #fff;
  background: red;
  text-shadow: 1px 1px black,-1px -1px black, 1px -1px black, -1px 1px black; }

.class21_2 {
  color: #fff;
  background: red;
  transform: .5s; }

.class21_2:hover {
  filter: blur(1px); }

.class21_3 {
  color: #fff;
  font-size: 34px;
  display: block;
  background: red;
  text-align: center;
  text-shadow: 0 1px #fbb7b7, 0 2px #f99f9f, 0 3px #f88787, 0 4px #f76e6e, 0 5px #f55656, 0 5px 10px black; }

.class22 {
  overflow-y: auto;
  background: url(../img/1.jpg) no-repeat;
  background-size: 50px 50px;
  background-position: 20% 30%;
  background-attachment: local,scroll; }

@keyframes typing {
  from {
    width: 0; } }
@keyframes caret {
  50% {
    border-right-color: transparent; } }
.class23 {
  max-width: 100%;
  width: 800px;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  border-right: .05em solid;
  animation: typing 8s steps(100) infinite, caret 2s steps(1) infinite; }

.class24_1 {
  background: green;
  position: relative; }

.class24_2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  position: relative;
  animation: bounce 6s infinite; }

@keyframes bounce {
  60%,
    80%,
    to {
    transform: translateY(40px);
    animation-timing-function: ease; }
  70% {
    transform: translateY(50px); }
  90% {
    transform: translateY(60px); } }
@keyframes bk1 {
  20% {
    background-position: 100% 100%; }
  40% {
    background-position: 0% 100%; }
  60% {
    background-position: 100% 0%; } }
.class25 {
  background: url(../img/1.jpg);
  animation: bk1 10s infinite;
  animation-play-state: paused; }

.class25:hover {
  animation-play-state: running; }

/*# sourceMappingURL=1.css.map */
